In [ ]:
#

In [1]:
import os
import pymysql
import pandas as pd
password = os.environ.get('MYSQL_PASSWORD')

In [2]:
password = os.environ.get('MYSQL_PASSWORD')

try:
    con = pymysql.connect(
    host='localhost',
    user='root',
    password=password,
    charset='utf8mb4'
    )
    print("Connection to the database was successful!")
except pymysql.Error as e:
    print(f"An error occurred while connecting to the database: {e}")

Connection to the database was successful!

In [3]:
# calling this function makes life easy and just need to pass the name of the database I want to make a query on
# It serves like USE keyword in SQL

def connector (database, password=password, host='localhost', 
               user='root', charset='utf8mb4',):
    
    conn = pymysql.connect(
                        host=host,
                        user=user,
                        password=password,
                        charset=charset, 
                        database=database)
    
    return conn

In [6]:
# How to get the names of all the databases in my MySQL server 

# I can use the cursor object from my database connection to execute SQL commands and retrieve information 
# about my databases. Here's an example of how I can use the **SHOW DATABASES** SQL command to retrieve the 
# names of all databases in my MySQL server using my connector function:


# Create a database connection
conn = connector(database='sql_store')

# Create a cursor object
cursor = conn.cursor()

# Execute the SHOW DATABASES command
cursor.execute('SHOW DATABASES')

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the names of all databases in the MySQL server
for row in results:
    print(row[0])

# Close the cursor and connection
cursor.close()
conn.close()

information_schema
mysql
performance_schema
sql_hr
sql_inventory
sql_invoicing
sql_store
sys

In [5]:
# to delete a database from my MySQL server 

conn = connector(database=None)
cursor = conn.cursor()

# Replace <database_name> with the name of the database you want to delete
database_name = "q1757"

# Execute the DROP DATABASE SQL command
cursor.execute(f"DROP DATABASE {database_name}")

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [7]:
def database_creator(database_name):
    
    conn = connector(database=None)
    
    # Create a cursor object
    cursor = conn.cursor()

    # Execute the CREATE DATABASE SQL command
    cursor.execute(f"CREATE DATABASE {database_name}")

    # Commit the transaction
    conn.commit()

    # Close the connection
    conn.close()

In [8]:
database_creator ('q1757')

In [9]:
def insert_data_to_table(database_name, table_name, schema, data):
    # Connect to the database
    conn = connector(database_name)

    # Create a cursor object
    cursor = conn.cursor()

    # Create the table with the given schema if it does not exist
    cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({schema})")

    # Truncate the table to remove any existing data
    cursor.execute(f"TRUNCATE TABLE {table_name}")

    # Insert data into the table
    for row in data:
        placeholders = ",".join(["%s" for _ in range(len(row))])
        query = f"INSERT INTO {table_name} VALUES ({placeholders})"
        cursor.execute(query, row)

    # Commit the transaction to save the changes
    conn.commit()

    # Close the connection
    conn.close()

In [10]:
# here is the SQL Schema for the question 1757 on Leetcode - database 

Create table If Not Exists Products (product_id int, low_fats ENUM('Y', 'N'), recyclable ENUM('Y','N'))
Truncate table Products
insert into Products (product_id, low_fats, recyclable) values ('0', 'Y', 'N')
insert into Products (product_id, low_fats, recyclable) values ('1', 'Y', 'Y')
insert into Products (product_id, low_fats, recyclable) values ('2', 'N', 'Y')
insert into Products (product_id, low_fats, recyclable) values ('3', 'Y', 'Y')
insert into Products (product_id, low_fats, recyclable) values ('4', 'N', 'N')

SyntaxError: invalid syntax (<ipython-input-10-60572ccb8344>, line 3)

In [11]:
schema = "product_id int, low_fats ENUM('Y', 'N'), recyclable ENUM('Y', 'N')"
data = [("0", "Y", "N"), ("1", "Y", "Y"), ("2", "N", "Y"), ("3", "Y", "Y"), ("4", "N", "N")]

insert_data_to_table("q1757", "Products", schema, data)

In [12]:
# to get my tables' names in the datanase

query = "SELECT table_name FROM information_schema.tables WHERE table_schema='q1757';"

# Execute the query and store the results in a Pandas DataFrame
tables = pd.read_sql_query(query, con)

# Print the list of tables
print(tables)

  TABLE_NAME
0   Products

In [13]:
con = connector('q1757')

In [16]:
pd.read_sql("SELECT *\
            FROM Products p", con)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [14]:
pd.read_sql("SELECT p.product_id\
            FROM Products p\
            WHERE low_fats = 'Y' AND recyclable = 'Y'", con)

   product_id
0           1
1           3