# Theoretical points -- SQL

source:  Complete SQL Mastery -- instructor: Mosh Hamedani

1. What is a Database?

A database is a collection of data stored in a format that can be easily accessed. In order to manage our databases we use a software called **database management system (DBMS)**. DBMS are categorized as two broad categories:

+ Relational

+ NoSQL

2. Relational DBMS

We store data in tables that are linked to each other using relationships, each table stores data about the specific type of object. We use **Structured Query Language (SQL)** to work with these relational DBMS. We use SQL to query or modify our data. 
There are various RDBMS like:

+ MySQL
+ SQL Server
+ Oracle
+ ...

All of these flavors are based on the standard specifications of SQL. So what I learn in this course mostly can be applied to any of these RDBMS. In this course we use MySQL, which is the most popular open source database in the world. 


3. Non relational databases

In Non relational databases we don‚Äôt have tables or relationships, these databases are very different from relational databases and NoSQL systems don‚Äôt understand SQL and they have their own query language. 

4. Course structure

What you will learn: 

+ Retrieving data
+ Inserting data
+ Updating data
+ Deleting data

Even though we use MySQL in this course, what you will be learning will be applicable at least 90% to other DBMSs. There might be a slight difference in syntax though. 

You also learn

+ Summarizing data for creating reports
+ Writing complex queries using subqueries
+ Built-in functions 

As you process you see you are writing the same queries again and again and so you will learn about the followings for storing queries and reusing them later:

+ Views
+ Stored procedures 

These are great for increasing your productivity.

Then we move on to advanced topics:

+ Triggers
+ Events
+ Transactions
+ Concurrency

If you want to stand out among the crowds you have to learn about:

+ Designing databases

Mosh dedicated a complete in-depth section on it. 

Then we look at 
+ Indexing for high performance, indexes are essential when your database grows in size, we can speed up our queries using indexes. If you have billions of records you want to query pretty quick using indexes 

Finally we finish the course by 
+ Securing databases

## Retrieving Data From a Single Table

5. The SELECT statement**

    USE sql_store; 
    
    SELECT * (in front of that we specify the columns that we want to retrieve, * means all columns) 
    FROM customers (here we specify the table that we want to query)
    WHERE customer_id = 1 (we use this clause to filter data)
    ORDER BY first_name (we use this clause to sort data and here we specify the columns that we want to sort the results on)


The first step to write a query to get data from a database is to select the database, the query that we write will be executed against that database. We use **USE** keyword to select the database. 

Points:
+ SQL is NOT a case sensitive language meaning we can use USE sql_store or use sql_store BUT as the best practice we should **capitalize all the SQL keywords and everything else in lower case**
+ When you have multiple SQL statements we need to terminate each statement using a semicolon (;) 
+ Comment in SQL is two hyphens ‚Äì- and the SQL engine will not execute these comments 

After executing:
+ USE sql_store (by double clicking on the sql_store we can achieve the same thing)

The sql_store is marked as bold in the schemas database (in the left panel) 

**The order of these clauses (SELECT FROM WHERE ORDER BY) matter. And if we don‚Äôt follow the above order we get a syntax error.

The three clauses of **FROM, WHERE, ORDER BY are all optional** but we mostly use them. 
Also we don‚Äôt need to put different clauses in different lines b/c tab, whitespaces, and line breaks are ignored when SQL code is executed. So we may have

    SELECT * FROM customers WHERE customer_id = 1 ORDER BY first_name 

This is fine for simple queries but as your queries get more complex it is better to put each clause on a new line. 

6. The AND, OR, and NOT operators 

AND is operated first! But we use parenthesis to make our code cleaner and easier to understand. 

7. The IN operator in SQL

        USE sql_stores; 
        
        SELECT *
        FROM customers 
        WHERE state = ‚ÄòVA‚Äô OR state = ‚ÄòFL‚Äô OR state = ‚ÄòGA‚Äô 
        
But we can use IN operator to have a cleaner code like

        SELECT *
        FROM customers 
        WHERE state IN (‚ÄòVA‚Äô, ‚ÄòGA‚Äô, ‚ÄòFL‚Äô) -- The order does NOT matter 

We also can use NOT operator like to get the customers outside of these states:

        SELECT *
        FROM customers 
        WHERE state NOT IN (‚ÄòVA‚Äô, ‚ÄòGA‚Äô, ‚ÄòFL‚Äô)
        
8. The BETWEEN operator in SQL 

Whenever we are comparing an attribute with a range of values we can use **BETWEEN operator** to make you code shorter and cleaner like:

    USE sql_store;
    SELECT *
    FROM customers 
    WHERE points BETWEEN 1000 AND 3000 -- The range values is inclusive. 
    
9. The LIKE operator

How to retrieve rows that match a specific string pattern? Like we want to get the customers whose last names starts with ‚Äúb‚Äù:

**Use % to indicate any number of characters after ‚Äúb‚Äù, also it doesn‚Äôt matter if it is a lower case or upper case ‚Äúb‚Äù**


    SELECT *
    FROM customers
    WHERE last_name LIKE ‚Äúb%‚Äù
    
The percent sign doesn‚Äôt have to be at the end but it could be anywhere like we want to get customers with ‚Äúb‚Äù character in their last name whether in the beginning or at the end or in the middle, for that we change our pattern to **‚Äú%b%‚Äù** meaning we can have any number of characters before or after ‚Äúb‚Äù:

    SELECT *
    FROM customers
    WHERE last_name LIKE ‚Äú%b%‚Äù
    
For the customers with last name ending in ‚Äúy‚Äù we use this pattern ‚Äú%y‚Äù. We also have **underscore ‚Äú_‚Äùthat matches a single character** like in the following we will get the customers whose last names are exactly TWO characters long and it ends in y and we don‚Äôt care what the first character is:

    SELECT *
    FROM customers 
    WHERE last_name LIKE ‚Äú_y‚Äù
    
Another pattern is ‚Äúb____y‚Äù and you know what it meansüòä 

The LIKE operator in MySQL is an older operator and we have a newer one which is more powerful which allows us to search for any string pattern. We will discuss next. 

10. The REGEXP operator

here